{% extends 'online_submission/base_admin.html' %}

{% block header %} {{requirement.req_name}} Item #{{item.item_no}}{% endblock %}


{% block content %}

<table class="table table-striped table-bordered table-hover" style="width:100%;table-layout:fixed;">
	<thead class="thead">
		<tr>
		    <th>Test Input File</th>
		    <th>Test Output File</th> 
		    <th>Score</th>
		</tr>
	</thead>
  <tr class="content">
  	<td> 
  	{% if item.test_input_file %}
    	{{item.test_input_file.url}}
    {% endif %}
	</td>
    <td>
    {% if item.test_output_file %}
    	{{item.test_output_file.url}}
    {% endif %}
	</td> 
    <td>{{item.score}}</td>
  </tr>
</table>

<center>
		<a href="{% url "update_item" req_ID=requirement.id item_no=item.item_no %}"><button class="btn btn-lg">Edit Item</button></a>
		<a href="{% url "delete_item" req_ID=requirement.id item_no=item.item_no %}"><button class="btn btn-lg">Delete Item</button></a>
		<a href="#"><button class="btn btn-lg">View Student Submissions</button></a>
</center>

{% endblock %}
